a{
  color: white;
  float: right:
}
#nav-wrapper{
  background-color: #EC4E20;
  padding: 10px;
}
a:hover{
  background-color: #3A3042;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  padding: 5px;
}
#title{
  float: left;
  color: white;
}
